/* Base */
* { margin:0; padding:0; font-family:inherit; }
body {
  background:#ddd; color:#222;
  font:14px 'Helvetica', georgia, serif;
  line-height:1.5;
  font-weight: lighter;
  margin: 0 auto;
  width: 760px;
}

body.wide {
  width:1024px;
}

.small { font-size: 11px; color: #999; }
div.breaker { clear:both; }
.template { display:none; }

p, ul, ol, pre, blockquote, hr, object { margin: 1em 0; }
pre, code, tt { font-family: monospace; }
img { border:none; vertical-align:bottom; }
strong { font-weight:bold; }
hr { height:1px; border:none; background-color:#ddd; }

h1,h2,h3,h4 {
  font-family: 'Poly', helvetica, sans-serif;
  font-weight:normal;
  color:#040404;
  margin: 1.618em 0 1em 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}
h1,h3 { font-size: 30px; }
h2 { font-size: 22px; }
h4 { font-size: 14px; color:#666; }
h5,h6 { font-size:12px; color:#888; }

body.wide h1 { font-size:22px; }

a { text-decoration:none; }
a:link, a:active { color:#316d96; }
a:visited { color:#7e5494; }
a:link:hover, a:active:hover, a:visited:hover { text-decoration:underline; }
a:link:hover, a:active:hover { color:#006be4; }
a:visited:hover { color:#af00cf; }
/*a > img { margin-bottom:-1px; }*/
a.img { border:none; background:transparent !important; }

/* Headlines */
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a, h1 > a:hover,
    h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
  color:inherit !important;
  background-color:transparent !important;
}

/* header */
header {
  display: block;
  /*border-bottom: 2px solid #aaa;*/
  height:80px;
}
  header h1 { display:block; height:50px; }
  header h1 a {
    display:inline-block;
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -webkit-transition: 160ms -webkit-filter ease-out;
  }
  header h1 a:hover {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    cursor:pointer;
  }
  header h1 img { display:block; float:left; }
  header {
    font: 9px/9px 'lucida grande', 'tahoma', sans-serif;
    color: #ccc;
  }
  header ul.navigation {
    text-align: left;
    float: right;
    margin-top:27px;
  }
  header ul.navigation li {
    display: inline-block;
    list-style: none;
    margin-left: 1em;
  }
  header ul.navigation li:first-child { margin-left: 0; }
  header ul.navigation li a {
    color: #888;
    text-decoration: none;
    font-size: 11px;
  }
  header ul.navigation li a:hover { color: black; text-decoration: none; }
  header ul.navigation li a.active { font-weight:bold; color:black; }

/* main */
#main { margin-bottom: 3em; }

/* main content */
div.content {
  background:white; padding:70px 60px;
  margin-bottom:60px;
}
  div.content:not(.sub) h1:first-child { margin-top:0; font-size:42px; }
  
  div.content img { max-width:100%; margin:20px 0; }
  div.content *[align=right] { margin:0 0 1em 1em; }
  div.content *[align=left] { margin:0 1em 1em 0; }

  /*div.post strong { font-weight:inherit; background:#FBF4B1; }*/
  div.content li { margin-left: 2em; margin-bottom:0.3em; }
  div.content ul > li { margin-left:1.4em; }
  
  div.content blockquote {
    font-family: 'Poly';
    font-size:16px;
    font-style:italic;
    background:#fcfbf9 url(asterix.png) no-repeat scroll 15px 1.25em;
    padding:0.1em 20px 0.1em 46px;
    margin:1.618em 0 1.618em -60px;
    border-left:14px solid #C6F9FC;
    color: #2D3336;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
  }
  /*div.content blockquote {
    margin-left:-30px;
    padding-left:30px;
    background: transparent 
        url(http://static.tumblr.com/sajzoro/2pUkqr1t1/aster.png) 
        no-repeat scroll 0 0;
    font-style:italic;
  }*/
  /*div.post blockquote > p {
    padding-left:0.6em;
    border-left:0.4em solid #ddd;
  }*/
  div.content div.quotation blockquote { margin-left:-30px; }
  div.content pre {
    background-color:#eee;
    padding:0.4em 1em;
    border-left:2px solid #ddd;
  }
  div.content code {
    background-color:#eee;
    padding:0 0.1em;
  }
  div.content pre > code {
    padding:0; background-color:transparent;
  }
  div.content *:target { background:#fe0; }
  div.content sup:target a { padding:2px 5px; }
  div.content div.footnotes li { color:#999; }
  div.content div.footnotes li:target { background:#ffc; color:inherit; }
  
  /* wide objects */
  div.content *[alt~="fullbleed"] {
    max-width:760px;
    margin-left:-60px;
  }
  div.content *[alt~="large"] {
    max-width:1024px;
    margin-left:-180px;
  }

div.content {
  border-bottom:2px solid #D1D1D1;
}

div.content.sub {
  margin-top:-50px;
  padding-top:20px;
}

/* posts */

div.posts div.post h2 a:hover {
  color:red !important;
}

div.post {
  padding-bottom: 0em;
  margin-bottom:-70px;
  page-break-before: always;
}
  div.post.single, div.post:last-child { border-bottom:none; }
  /*div.post h1:first-child, div.post h2:first-child { margin-top:0; }
  div.post h2.title, div.post h1:first-child { font-size:42px; }*/
  /*div.post h1 { margin-top: 1.618em; }*/
  
  div.post actions, div.post info {
    color: #ccc;
  }
  
  div.post actions {
    display:inline-block;
    float:right;
  }
  
  div.post info {
    display:inline-block;
    xbackground:#DDF5EB;
    xborder-left:2px solid rgba(0,0,0,0.2);
    border:1px solid rgba(0,0,0,0.05);
    border-left:none; border-right:none;
    padding:8px 0px 8px 60px;
    margin-left:-60px;
    margin-bottom:3em;
  }
  
  div.post info.after {
    margin-top:30px;
    margin-right:-60px;
    margin-bottom:0;
    padding-top:25px;
    padding-right:60px;
    padding-bottom:15px;
    opacity:0.6;
    border-color:rgba(0,0,0,0.08);
    border-bottom:none;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -webkit-transition: 200ms -webkit-filter ease;
    -webkit-transition-property: opacity, -webkit-filter;
  }
  div.post info.after:hover {
    opacity:1;
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
  }
  
  div.posts div.post info.after {
    /* Simply occupy whatever space the "after" piece usually occupies */
    border:none;
    visibility:hidden;
  }
  
    /*info a:link, info a:active { color:#859FB3; }
    info a:visited { color:#A591AA; }*/
  
  div.post div.body {}
    div.post div.body > p.read-more { text-align:center; }
    div.post div.body > p.read-more a {
      display:inline-block;
      padding:0 7px;
      line-height:22px;
              border-radius:5px;
      -webkit-border-radius:5px;
         -moz-border-radius:5px;
      background-color:#fffe95;
      color:#685c00;
      border:none;
    }
    div.post div.body > p.read-more a:hover {
      background-color:#fff000;
      color:#302400;
      text-decoration:none;
    }

/* prettyprint */
pre .str { color: #080; }
pre .kwd { color: #295AA4; }
pre .com { color: #999; }
pre .typ { color: #808; }
pre .lit { color: #066; }
pre .pun, div.post pre .opn, div.post pre .clo { color: #660; }
pre .pln { color: #000; }
pre .tag { color: #008; }
pre .atn { color: #606; }
pre .atv { color: #080; }
pre .dec { color: #606; }
/* Use higher contrast and font-styling for printable form. */
@media print {
  pre .str { color: #060; }
  pre .kwd { color: #006; font-weight: bold; }
  pre .com { color: #999; font-style: italic; }
  pre .typ { color: #404; font-weight: bold; }
  pre .lit { color: #044; }
  pre .pun, div.post pre .opn, div.post pre .clo {
    color: #440;
  }
  pre .pln { color: #000; }
  pre .tag { color: #006; font-weight: bold; }
  pre .atn { color: #404; }
  pre .atv { color: #060; }
}

/* meta */
div.meta { margin:1em 0; }
  div.meta p, div.meta .item { margin:0; }
  div.meta .item, div.meta .tag {
    background-repeat:no-repeat;
    background-position:0 0.36em;
    padding-left:15px;
    color:black;
    opacity:0.4;
    display:block;
    float:left;
    margin-left:2em;
  }
  div.meta .item:hover { opacity:1.0; }
  div.meta .item:first-child { margin-left:0; }
  div.meta .item a, div.meta a.item, div.meta .item a:hover,
      div.meta a.item:hover {
    color:inherit;
  }
  div.meta .item.reblogged {
    background-image:
        url(http://static.tumblr.com/9njdies/592l8jd17/reblogged.png);
  }
  div.meta .item.tags { padding-left:0; }
    div.meta .tag {
      margin-left:1em;
      margin-right:0;
      opacity:1.0;
      background-image:
          url(http://static.tumblr.com/9njdies/YO7l8jd2b/tag.png);
    }
    div.meta .tag:first-child { margin-left:0; }
  div.meta .item.time {
    background-image:
        url(http://static.tumblr.com/9njdies/zkFl8jd2w/time.png);
    float:right;
  }
  div.meta .item.note-count {
    float:right;
    background-image:
        url(http://static.tumblr.com/9njdies/ykvl8nmzz/note-count.png);
  }
  div.meta .item.dsq-comment-count {
    float:right;
    background-image:
        url(http://static.tumblr.com/9njdies/dbPl8uqid/comment-count.png);
    display:none;
  }

footer {
  color:#999;
  display: block;
  margin:1em 0 1em 0;
  padding-bottom: 30px;
  background: transparent url('end-floral.png') no-repeat scroll bottom center;
}

/* Carbon ads */
#carbonads-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
  #carbonads-container .carbonad { border-width: 1px !important; }
  #carbonads-container .carbonad-text, #carbonads-container .carbonad-tag {
    font-family: 'lucida grande', helvetica, sans-serif !important;
  }

/* device specifics */

/* medium-res devices (e.g. ipad and iphone) */
@media only screen and (max-device-width: 1024px) {
  /* To constrain pre-formatted text to body width */
  html.ios { width:750px; overflow:hidden; }
  html.ios pre { overflow:scroll; white-space:pre-wrap; }
  html.ios pre, code, tt { font-size:0.95em; }
  
  header { width:700px; font:inherit; }
  
  header ul.navigation { margin-top:17px; }
  header ul.navigation li a { font-size: 14px; }
  
  h1.logo {
    margin-left:40px;
  }
  
  /*body { background:black; }
  div.content { border-bottom:none; }
  header ul.navigation li a:hover { color:white; }
  header ul.navigation li a.active { color:white; }
  h1.logo a {
    display:inline-block;
    width:200px; height:50;
    background: url('signature-2-inverted-2.png') no-repeat scroll 40px 0;
    background-size:160px 50px;
  }
  h1.logo img { visibility:hidden; }*/
}

/* devices like laptops and regular computers (including ipad but not
   iphone) Note that iOS with retina display device calculates with a 1/2
   resolution due to the concept of "scale", thus an iPhone 4 triggers for
   480x230px rather than the actual 960x480 pixels. This is a good thing.
*/
@media only screen and (min-device-width: 480px) {
  @font-face {
    font-family: 'M+ 1m';
    font-style: normal;
    font-weight: 300;
    src: local('M+ 1m light'), local('mplus-1m-light'),
         url('http://hunch.se/style/fonts/mplus-1m-light.ttf') 
         format('truetype');
  }
  pre, code, tt { font-family: 'M+ 1m', monospace; font-size:13px; }
}

/* medium-res devices (e.g. ipad but not iphone) */
#sidebar { display:none; }
@media only screen and (min-device-width: 480px) and (max-device-width: 1024px) {
}

/* medium-res devices, landscape orientation (e.g. ipad but not iphone) */
@media only screen and (min-device-width: 480px) and (max-device-width: 1024px) and (orientation:landscape) {
  header { display:none; }
  html.ipad #sidebar {
    display:block;
    width:240px;
    height:100%;
    border:none;
    background-color:black;
    position:absolute;
    right:0;
    top:0;
  }
  html.ipad { zoom:70%; }
}

