---
layout: default
---
<div class="content">
  <div class="post single">
    <h1>{{ page.title }}</h1>
    <actions>
      Share &nbsp; Like
    </actions>
    <info datetime="{{ page.date | date: "%Y-%m-%d" }}">
      {{ page.date | date: "%b %d, %Y" }}
    </info>
    <div class="body">{{ content }}</div>
    <div class="breaker"></div>

    <info class="after">
<div class="fb-like" data-href="http://rsms.me{{ page.url }}" data-send="false" data-width="640" data-show-faces="false" data-font="arial"></div>
    </info>

  {% unless page.fb_comments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      window.disqus_identifier = {% if page.tumblr_id %}"{{ page.tumblr_id }}"{% else %}"{{ page.id }}"{% endif %};
    </script>
    <script async src="http://hunch.disqus.com/embed.js"></script>
    <noscript>Please enable JavaScript to view the
      <a href="http://disqus.com/?ref_noscript=hunch">comments powered by Disqus.</a>
    </noscript>
  {% endunless %}
  
  </div>
  {% include disqus.html %}
</div>